body {
  background: url("../images/black_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
} 

form {
        margin: 30px;
        padding: 10px;
}

img {
	height: 150px;
	width: 300px;
	margin: 30px;
}

label, .col-sm-2 {
	color: white;
}

#txtEmail, #txtPassword {
	width: 300px;
}
